

.Sidebar-List-Item {
  text-align: right;
  font-size: 20px !important;
}

.side {
  background-color: #E5F8FF;
  border-radius: 1vw 47px 47px 20vw;
  -moz-border-radius: 1vw 47px 47px 20vw;
  -webkit-border-radius: 1vw 47px 47px 20vw;
  border: 17px solid #E5F8FF;
  height: 100vh;
  width: 20.5vw;
  right: 5px;
  position: absolute;
  padding-top: 15vh;


}

.banner {
  width:70vw;
  margin-left: 5vw;
  border-radius: 15px;
}

.side li {
  font-weight: 500;
  
}

.searchBox {
  direction: rtl;
  border-radius: 15px;
  color: #392A7D;
}

.IconsSizing  svg{
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.ApplicationBox {
  width:15vw;
  height: 15vh;
  border-radius: 15px;
  margin-bottom: 3vh;
}

.ModalCircle {
    background-color: #776fc4;
    height: 20vw;
    width: 20vw;
    border-radius: 50vw;
    right: 5vw;
    position: absolute;
    top: 4vw;
}